body {
    background-color: rgb(92, 92, 255);
    font-family: Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  
  h1 {
    text-align: center;
    color: rgb(92, 92, 255);
    padding: 0;
    margin: 0 0 50px 0;
  }
  h2 {
    font-size: medium;
    text-align: center;
    color: rgb(92, 92, 255);
    padding: 0;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25%;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(92, 92, 255);
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #00000020;
    margin-bottom: 20px;
    outline: none;
    transition: 0.5s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 15px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
    width: 95%;
    border: .4px solid #00000015;
    transition: all .5rgba(0, 0, 0, 0.849)-out;
  }

  input::placeholder {
    opacity: .8;
}

  div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
.btn{
  height: 6vh;
  width: 6vw;
  border:none;
  background:#2B2D2F;
  position:relative;
  border-radius:5px;
  color:rgb(135, 135, 255);
  font-size:1.3em;
  font-weight:500;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: 0.2s ease-in-out;
}
.btn:hover{
  background:rgb(92, 92, 255);
  color:#2B2D2F;
  transition: 0.2s ease-in-out;
}

  @media screen and (max-width: 600px) {
    form {
        width: 50%;
    }
  }